* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
  }
  
  .navbar {
    background: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    position: sticky;
    top: 0;
    z-index: 999;
  }
  
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 50px;
    padding-left: 50px;
  }
  
  #navbar__logo {
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
  }

  .nav_panel{
    display: flex;
    justify-content: space-between;
  }
  
  .navbar__menu {
    display: flex;
    width:100%;
    list-style: none;
    justify-content: center;
   
  }
  
  .navbar__item {
    height: 80px;
  }
  
  .navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
  }

  #button_1{
    border-bottom: 5px solid red;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #fff;
    color: #000;
  }
  
  .button:hover {
    background: red;
    color: #fff;
    transition: all 0.3s ease;
  }
  
  .navbar__links:hover {
    color: red;
    transition: all 0.3s ease;
  }
  .cart_menu{
    display: grid;
    grid-template-columns: auto;
    margin:0;
    width: 80%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    height: 400px;
    z-index: -1;
    overflow: scroll ;
    border:2px solid white;
    border-radius: 7px;
  }
  .cart_menu.active{
    background: #131313;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 98;
    height: 400px;
    font-size: 1.6rem;
    overflow: scroll ;
    margin:10px;
    margin-left: 25px;
  }

  .content-section{
    overflow-y: scroll;
    overflow-x: scroll;
  }

  .cart_button{
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 2.6rem;
    background-color: transparent;
    border: none;
  }

  .cart_button:hover{
    color: red;
    transition: all 0.3s ease;
    
}

  .cart_count{
    background-color:white;
    border-radius: 70%;
    padding: 0px 7px;
    margin:0px 5px;
    color:red;
    visibility:hidden;
  }
  

@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        width: 100%;
        z-index: 1;
        max-width: 1300px;
        padding: 0;
    }
    
    #navbar__logo {
        padding-left: 25px;
    }
    
    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin:0;
        width: 100vh;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
    }

    .navbar__menu.active {
        background: #131313;
        top: 100%;
        opacity: 1;
        width: 100%;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 7px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 10%;
        transform: translate(5%, 20%);
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .cart_button{
        margin-right: 10%;
    }

}

.content-section {
    margin: 0.5em;
    color:white;
}

.container {
    max-width:800px;
    margin: 0 auto;
    padding: 0 0.5em;
    min-width:750px;
}


.cart-header {
    font-weight: bold;
    font-size: 0.65em;
    color: white;
}

.cart-column {
    display: flex;
    align-items: center;
    /* border-bottom: 1px solid white; */
    margin-right: 0.7em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-price-head{
    margin-left: 80px;
}

.cart-brand-disc-head{
    margin-left: 40px;
}

.cart-company-disc-head{
    margin-left: 40px;
    margin-right:40px;
}

.cart-company-disc{
    margin-left: 25px;
    font-size: 0.7em;
    width: 40%;
}

.cart-brand-disc{
    margin-left: 15px;
    font-size: 0.7em;
    width: 40%;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 40%;
 
}

.cart-price {
    width: 20%;
    font-size: 0.7em;
    color: white;
}

.cart-quantity {
    width: 50%;
}

.cart-item-title {
    color: white;
    margin-left: 0.5em;
    font-size: 0.7em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: red;
    padding: 0.25rem 0.5rem;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 25px;
    width: 40px;
    border-radius: 5px;
    border: 1px solid red;
    background-color: #eee;
    color: black;
    padding: 0;
    text-align: center;
    font-size: 0.7em;
    margin-right: 0.3em;
}


.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 0.9em;
    color: white;
    margin-right: 20px;
}

.cart-total-price {
    color: white;
    font-size: 0.7em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 0.7em;
    padding:10px 60px;
    border-radius: 7px;
    border: none;
}
.btn-purchase:hover {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 0.7em;
    padding:12px 62px;
    border-radius: 7px;
    border: none;
    transition: all 0.3s;
}



.main {

    background-color: #141414;
}

.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self:center;
    margin: 0 auto;
    height: 90vh;
    background-color: #141414;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding-right: 50px;
    padding-left: 50px;
}

.main__content {
    width: 100%;
}

.main__content h1 {
    font-size: 3.5rem;
    color: #fff;

}

.text-highlight {
    color: red;
}

.main__content p {
    font-size: 2.5rem;
    margin-top: 8px;
    font-weight: 100;
    color: #dbdbdb
}

.main__btn {
    font-size: 1rem;
    padding: 14px 32px;
    background: #fff;
    border: none;
    border-radius: 4px;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}

.main__btn a {
    position: relative;
    z-index: 2;
    color: #000;
    text-decoration: none;
}

.main__btn:after {
 position: absolute;
 content: '';
 top: 0;
 left: 0;
 width: 0;
 height: 100%;
 background: red;
 transition: all 0.35s;
 border-radius: 4px;
}

.main__btn:hover:after {
    width: 100%;
}

.main__img--container {
    text-align: center;
}

#main__img {
    height: 320px;
    width: 500px;
    box-shadow: 0px -10px 50px lightgray;
    box-shadow: 0px 10px 50px lightgray;
}


@media screen and (max-width: 768px) {
    .main__container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: auto;
    }

    .main__content {
        text-align: center;
        margin-bottom: 4rem;
    }

    .main-content h1 {
        font-size: 2.5rem;
        margin-top: 2rem;
    }

    .main__content p {
        margin-top: 1rem;
        font-size: 1.5rem;
    }

    @media screen and (max-width: 480px) {
        .main-content h1 {
            font-size: 2rem;
            margin-top: 3rem;
        }
    
        .main__content p {
            margin-top: 2rem;
            font-size: 1.5rem;
        }

        .main__btn {
            padding: 12px 36px;
            margin: 2.5rem 0;
        }
    }
}


.images {
    background-color: #141414;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

.images h1 {
    color: #fff;
    margin-bottom: 5rem;
    font-size: 2rem;
}

.images__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.images__card {
    margin: 5rem;
    height: 320px;
    width: 500px;
    border-radius: 20px;
    background-image:url('/images/lamb.jpeg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    color: #fff;
}

.images__card:nth-child(2) {
    margin: 5rem;
    height: 320px;
    width: 500px;
    border-radius: 20px;
    background-image:url('/images/R8.jpeg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    color: #fff;
}

.images__card:nth-child(3) {
    margin: 5rem;
    height: 320px;
    width: 500px;
    border-radius: 20px;
    background-image:url('/images/M3.jpeg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    color: #fff;
}

.images__card:nth-child(4) {
    margin: 5rem;
    height: 320px;
    width: 500px;
    border-radius: 20px;
    background-image:url('/images/LC.jpeg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    color: #fff;
}

.images__card:nth-child(5) {
    margin: 5rem;
    height: 320px;
    width: 500px;
    border-radius: 20px;
    background-image:url('/images/S.jpeg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    color: #fff;
}

.images__card:nth-child(6) {
    margin: 5rem;
    height: 320px;
    width: 500px;
    border-radius: 20px;
    background-image:url('/images/G63.jpeg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    color: #fff;
}



.images__card:before {
    opacity: 0.2;
}

.images__card h2 {
    width: 23.5rem;
    position: absolute;
    top: 21rem;
    left: 0 rem;
    font-size: 1.1rem;
    background-color: white;
    color:black;
    padding: 5px;
    border-radius: 10px;
}

.images__card p {
 position: absolute;
 top: 380px;
 left: 30px;
 font-size: 0.8rem;
}

.images__card:hover {
    transform: scale(1.01);
    transition: 0.1s ease-in;
}



.shop-item-price{
    position:absolute;
    right:1rem;
    bottom: 1rem;
    background-color: white;
    color: black;
    border-radius: 7px;
    padding:9px;
}

.shop-item-button{
    position:absolute;
    right:0rem;
    top: 21rem;
    background-color: red;
    color: white;
    border:none;
    border-radius: 10px;
    padding:6px;
    font-size: 1rem;
    cursor: pointer;
}
.shop-item-range{
    display:none;
    position:absolute;
    right:0rem;
    top: 21rem;
}

.button-range-increment{
   padding:3px 7px 3px 7px;
   border-radius: 60%;
   border:none;
   cursor: pointer;
}
.button-range-decrement{
    padding:3px 9px 3px 9px;
    border-radius: 60%;
    border:none;
    cursor: pointer;
 }
 .cart-quantity-input-page{
    height:30px;
    width:30px;
    margin:1px;
    font-size: 15px;
    border-radius: 50%;
    text-align: center;
    border:none;
 }


 @media screen and (max-width: 1319px) {

    .images__card {
        margin: 5rem;
        height: 300px;
        width: 460px;
    }
    
    .images__card:nth-child(2) {
        margin: 5rem;
        height: 300px;
        width: 460px;
    }
    
    .images__card:nth-child(3) {
        margin: 5rem;
        height: 300px;
        width: 460px;
    }
    
    .images__card:nth-child(4) {
        margin: 5rem;
        height: 300px;
        width: 460px;
    }
    
    .images__card:nth-child(5) {
        margin: 5rem;
        height: 300px;
        width: 460px;
    }
    
    .images__card:nth-child(6) {
        margin: 5rem;
        height: 300px;
        width: 460px;
    }
    .images__card h2 {
        width:21rem;
        top: 20rem;
        left: 0 rem;
    }
    .shop-item-range{
        right:0rem;
        top: 20rem;
    }
    .shop-item-button{
        right:0rem;
        top: 20rem;
    }
}

@media screen and (max-width: 1239px) {

    .images__card {
        margin: 3rem;
        height: 280px;
        width: 400px;
    }
    
    .images__card:nth-child(2) {
        margin: 3rem;
        height: 280px;
        width: 400px;
    }
    
    .images__card:nth-child(3) {
        margin: 3rem;
        height: 280px;
        width: 400px;
    }
    
    .images__card:nth-child(4) {
        margin: 3rem;
        height: 280px;
        width: 400px;
    }
    
    .images__card:nth-child(5) {
        margin: 3rem;
        height: 280px;
        width: 400px;
    }
    
    .images__card:nth-child(6) {
        margin: 3rem;
        height: 280px;
        width: 400px;
    }
    .images__card h2 {
        width:17.5rem;
        top: 18rem;
        left: 0 rem;
    }
    .shop-item-range{
        right:0rem;
        top: 18rem;
    }
    .shop-item-button{
        right:0rem;
        top: 18rem;
    }
}

.footer__container {
    background-color: #141414;
    padding: 5rem 0;
    text-align: center;
}

.website__rights {
    color: #fff;
}